<footer class="footer-area black-bg border-top-none">
    <div class="container">
        <div class="footer__logo-wrap">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4">
                    <div class="footer__logo logo">
                        <a href="/"><img src="assets/img/w_logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="footer__social">
                        <ul class="list-wrap">
                            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright__text">
                        <p>Developed By <span>Brahma Rupa School</span> - 2023</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright__menu">
                        <ul class="list-wrap">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.marquee.min.js"></script>
<script src="/assets/js/imageRevealHover.js"></script>
<script src="/assets/js/swiper-bundle.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/main.js"></script>