<header class="header__style-seven">
    <div class="header__top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-7">
                    <div class="d-flex gap-4 align-items-center">
                        <div class="header__top-logo logo">
                            <a href="/" class="logo-dark">
                                <img src="/assets/img/logo.png" alt="Logo">
                            </a>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-5 order-3 order-lg-0">
                    <div class="header__top-search">
                        <form action="/search">
                            <input type="text" placeholder="Search here..."  name="q">
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 col-5 order-2 order-lg-2">
                    <div class="header__top-right">
                        <ul class="list-wrap">
                            <li class="news-btn"><a href="/posts/create" class="btn"><span class="btn-text">ADD</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</header>