<!DOCTYPE html>
<html lang="en">



    <%- include('./partials/head.ejs') %>
<body>
      <%- include('./partials/header.ejs') %>
      <main>
    <!-- create-post -->

    <section class="newsletter-style-two style-three white-bg vh-100 pt-80 pb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-lg-8">
                    <div class="newsletter__title text-center mb-35">
                        <h4 class="title">Create new post.</h4>
                    </div>
                    <div class="newsletter__form-wrap text-start">


                        <form method="post" action="/post"enctype="multipart/form-data">
                            <div class="form-group mb-20">
                                <label for="input-title">Title</label>
                                <input type="text" class="form-control" id="input-title" name="title"
                                    placeholder="Enter title">
                            </div>

                            <div class="form-group  mb-20">
                                <label for="input-description">Description</label>
                                <textarea class="form-control" id="input-description" name="description" rows="3">

                                </textarea>
                            </div>

                            <div class="form-group  mb-20">
                                <label for="input-category">Category</label>
                                <select class="form-select" aria-label="Default select example" id="input-category" name="category">
                                    <option selected>Select category</option>
                                    <option value="web development">Web Development</option>
                                    <option value="data science">Data Science</option>
                                    <option value="programming language">Programming Languages</option>
                                    <option value="software engineering">Software Engineering</option>

                                </select>
                            </div>

                            <div class="form-group  mb-20">
                                <label class="form-label" for="input-image">Choose image</label>
                                <input type="file" class="form-control" id="input-image" name="image" />
                            </div>


                            <button type="submit" class="btn">Submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- create-post-end -->



      </main>



      <%- include('./partials/footer.ejs') %>

</body>
</html>